{# src/AppBundle/Resources/views/Entity/AccountGroup/CRUD/readItem.html.twig #}
{% extends 'AppBundle:Entity/AccountGroup/Base:item.html.twig' %}

{% block active_account_group_update %}{{ 'class="active"' }}{% endblock %}

{% block data %}
    <div id="read-data-holder">
        <ul>

            <div class="separator-holder">
                <h2>Личные данные</h2>
            </div>

            <li>
                <div class="item key">
                    <span>{{ 'account_group.name.label'|trans({}, 'forms') }}</span>
                </div>
                <div class="item value">
                    <p>{{ accountGroup.name }}</p>
                </div>
            </li>
            <li>
                <div class="item key">
                    <span>{{ 'account_group.organization.label'|trans({}, 'forms') }}</span>
                </div>
                <div class="item value btn-holder">
                    {% if accountGroup.organization %}
                        <p>{{ accountGroup.organization.name }}</p>

                        {% if is_granted(constant('AppBundle\\Security\\Authorization\\Voter\\AccountGroupVoter::ACCOUNT_GROUP_READ'), accountGroup.organization) %}
                            <div class="btn-view">
                                <a href="{{ path('account_group_update', { 'id': accountGroup.organization.id }) }}" class="icon hrd-view"></a>
                            </div>
                        {% endif %}

                    {% else %}
                        <p>-</p>
                    {% endif %}
                </div>
            </li>
        </ul>
    </div>
{% endblock %}
