{# src/AppBundle/Resources/views/Entity/AccountGroup/CRUD/updateItem.html.twig #}
{% extends 'AppBundle:Entity/AccountGroup/Base:item.html.twig' %}

{% block active_account_group_update %}{{ 'class="active"' }}{% endblock %}

{% block data %}

    {% include 'AppBundle:Entity/AccountGroup/Form:form.html.twig' with { 'form': form, 'accountGroup': accountGroup } only %}

{% endblock %}

{% block action_bottom %}
    <div id="action-holder" class="manage-holder">

        {% if is_granted(constant('AppBundle\\Security\\Authorization\\Voter\\AccountGroupVoter::ACCOUNT_GROUP_DELETE'), accountGroup) %}
            <div class="btn-delete black">
                <a href="{{ path('account_group_delete', { 'id': accountGroup.id }) }}" class="icon hrd-delete"></a>
            </div>
        {% endif %}

        {% if account_group_boundless_access.isGranted(constant('AppBundle\\Service\\Security\\AccountGroupBoundlessAccess::ACCOUNT_GROUP_READ')) %}
            <button type="submit" form="account-group-form" name="{{ form.update_and_return.vars.full_name }}" class="btn-save back">
                <span>{{ form.update_and_return.vars.label|trans({}, 'forms') }}</span>
            </button>
        {% endif %}

        <button type="submit" form="account-group-form" name="{{ form.update.vars.full_name }}" class="btn-save">
            <span>{{ form.update.vars.label|trans({}, 'forms') }}</span>
        </button>
    </div>
{% endblock %}
