{# src/AppBundle/Resources/views/Entity/Organization/Binding/choose.html.twig #}
{% extends 'AppBundle:Entity/Organization/Base:table.html.twig' %}

{% block action_items_th %}
    <th class="double-small-fixed">
        <span>управление</span>
    </th>
{% endblock %}

{% block action_items_tr %}

    {% set isBinded = object.organizations.contains(organization) %}

    {% set path = ( isBinded ) ? 'organization_unbind' : 'organization_bind' %}

    {% if organization.pseudoDeleted %}

        {% if is_granted(constant('AppBundle\\Security\\Authorization\\Voter\\OrganizationVoter::ORGANIZATION_BIND'), organization) %}
            <td class="double-small-fixed edit-holder">
                <div class="btn-bind {{ ( isBinded ) ? 'binded' : null }}">
                    <a href="{{ path(path, { 'targetId': organization.id, 'objectClass': class(object)|lower, 'objectId': object.id }) }}" class="icon hrd-bind"></a>
                </div>
            </td>
        {% endif %}

    {% else %}
        <td class="double-small-fixed edit-holder double-btn">

            {% if is_granted(constant('AppBundle\\Security\\Authorization\\Voter\\OrganizationVoter::ORGANIZATION_UPDATE'), organization) %}
                <div class="btn-edit">
                    <a href="{{ path('organization_update', { 'id': organization.id }) }}" class="icon hrd-edit"></a>
                </div>
            {% else %}
                <div class="btn-view">
                    <a href="{{ path('organization_read', { 'id': organization.id }) }}" class="icon hrd-view"></a>
                </div>
            {% endif %}

            {% if is_granted(constant('AppBundle\\Security\\Authorization\\Voter\\OrganizationVoter::ORGANIZATION_BIND'), organization) %}
                <div class="btn-bind {{ ( isBinded ) ? 'binded' : null }}">
                    <a href="{{ path(path, { 'targetId': organization.id, 'objectClass': class(object)|lower, 'objectId': object.id }) }}" class="icon hrd-bind"></a>
                </div>
            {% endif %}

        </td>
    {% endif %}

{% endblock %}

{% block action_button %}
    <div id="action-holder">
        <div id="action-holder" class="manage-holder">
            <div class="btn-connect">
                <a href="{{ path(path, { 'objectId': object.id, 'objectClass': class(organizations.0)|lower }) }}">Готово</a>
            </div>
        </div>
    </div>
{% endblock %}
