{# AppBundle/Resources/views/Entity/Employee/Form/form.html.twig #}
{% form_theme form 'AppBundle:Dashboard/Form/Theme:form.html.twig' %}

<form action="{{ form.vars.action }}" method="POST" id="employee-form">

    <div class="separator-holder">
        <h2>Системные данные</h2>
    </div>

    {% if form.employeeGroup is defined %}

        {% do form.employeeGroup.setRendered %}

        {% if( form.employeeGroup.vars.block_prefixes.2 == 'entity' ) %}
            <div class="select-holder">
                <div class="btn-select">
                    <a href="#">
                        <div class="title-holder">
                            <span class="title">{{ form.employeeGroup.vars.label|trans({}, 'forms') }} <span class="required-field">*</span></span>
                            <span class="icon hrd-list"></span>
                        </div>
                        <span class="text">{{ ( form.employeeGroup.vars.data ) ? form.employeeGroup.vars.data.name : form.employeeGroup.vars.placeholder|trans({}, 'forms') }}</span>
                    </a>
                </div>

                {% for error in form.employeeGroup.vars.errors %}
                    <span class="error-holder">{{ error.message }}</span>
                {% endfor %}

                <div class="select-list">
                    <div class="outer">
                        <div class="inner">
                            <ul>
                                {% for employeeGroup in form.employeeGroup.vars.choices %}
                                    <li class="option-item {{ ( form.employeeGroup.vars.data ) ? ( form.employeeGroup.vars.data.id != employeeGroup.value ) ?: 'active' : null }}" data-option="{{ employeeGroup.value }}">
                                        <span class="option-name">{{ employeeGroup.label }}</span>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                <input type="hidden" name="{{ form.employeeGroup.vars.full_name }}" value="{{ ( form.employeeGroup.vars.data ) ? form.employeeGroup.vars.data.id : null }}">
            </div>
        {% endif %}

        {% if( form.employeeGroup.vars.block_prefixes.1 == 'text' ) %}
            <div class="field-holder read-only">
                <input type="text" id="employee-employee-group" name="{{ form.employeeGroup.vars.full_name }}" value="{{ ( form.employeeGroup.vars.data ) ? form.employeeGroup.vars.data.name : null }}" readonly disabled>

                {{ form_label(form.employeeGroup) }}
            </div>
        {% endif %}

    {% endif %}

    {% if form.username is defined %}
        <div class="field-holder">
            {{ form_widget(form.username, { 'id': "employee-username" }) }}
            {{ form_label(form.username) }}
            {{ form_errors(form.username) }}
        </div>
    {% endif %}

    {% if form.organization is defined %}

        {% do form.organization.setRendered %}

        {% if( form.organization.vars.block_prefixes.2 == 'entity' ) %}

            {% set organization_set = ( form.organization.vars.data ) ? true : false %}

            <div class="select-holder {{ ( organization_set ) ? 'watch-parent' : null }}">
                <div class="btn-select">
                    <a href="#">
                        <div class="title-holder">
                            <span class="title">{{ form.organization.vars.label|trans({}, 'forms') }} <span class="required-field">*</span></span>
                            <span class="icon hrd-list"></span>
                        </div>
                        <span class="text">{{ ( form.organization.vars.data ) ? form.organization.vars.data.name : form.organization.vars.placeholder|trans({}, 'forms') }}</span>
                    </a>
                </div>

                {% if organization_set %}
                    <div class="btn-view">
                        <a href="{{ path('organization_update', { 'id': form.organization.vars.data.id }) }}" class="icon hrd-view"></a>
                    </div>
                {% endif %}

                {% for error in form.organization.vars.errors %}
                    <span class="error-holder">{{ error.message }}</span>
                {% endfor %}

                <div class="select-list">
                    <div class="outer">
                        <div class="inner">
                            <ul>
                                <li class="option-item {{ ( form.organization.vars.data is null ) ? 'active' : null }}" data-option="{{ null }}">
                                    <span class="option-name">{{ 'common.choice.empty_value'|trans({}, 'forms') }}</span>
                                </li>
                                {% for organization in form.organization.vars.choices %}
                                    <li class="option-item {{ ( form.organization.vars.data ) ? ( form.organization.vars.data.id != organization.value ) ?: 'active' : null }}" data-option="{{ organization.value }}">
                                        <span class="option-name">{{ organization.label }}</span>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                <input type="hidden" name="{{ form.organization.vars.full_name }}" value="{{ ( form.organization.vars.data ) ? form.organization.vars.data.id : null }}">
            </div>
        {% endif %}

        {% if( form.organization.vars.block_prefixes.1 == 'text' ) %}
            <div class="field-holder read-only">
                <input type="text" id="employee-organization" name="{{ form.organization.vars.full_name }}" value="{{ ( form.organization.vars.data ) ? form.organization.vars.data.name : null }}" readonly disabled>

                {{ form_label(form.organization) }}
            </div>
        {% endif %}

    {% endif %}

    {% if form.isEnabled is defined %}
        <div class="field-holder trpl-field">
            <div class="field">
                {{ form_widget(form.isEnabled, {
                    'id': "employee-is-enabled"
                }) }}

                <label for="employee-is-enabled">
                    <span class="radio"></span>
                    <span class="text">{{ form.isEnabled.vars.label|trans({}, 'forms') }}</span>
                </label>
            </div>
        </div>
    {% endif %}

    <div class="separator-holder">
        <h2>Личные данные</h2>
    </div>

    <div class="field-holder">
        {{ form_widget(form.surname, { 'id': "employee-surname" }) }}
        {{ form_label(form.surname) }}
        {{ form_errors(form.surname) }}
    </div>

    <div class="field-holder">
        {{ form_widget(form.name, { 'id': "employee-name" }) }}
        {{ form_label(form.name) }}
        {{ form_errors(form.name) }}
    </div>

    <div class="field-holder">
        {{ form_widget(form.patronymic, { 'id': "employee-patronymic" }) }}
        {{ form_label(form.patronymic) }}
        {{ form_errors(form.patronymic) }}
    </div>

    <div class="field-holder">
        {{ form_widget(form.email, { 'id': "employee-email" }) }}
        {{ form_label(form.email) }}
        {{ form_errors(form.email) }}
    </div>

    <div class="field-holder">
        {{ form_widget(form.phoneNumber, {
            'id': "employee-phone-number",
            'attr': {
                'data-mask': "+38 (099) 999-99-99"
            }
        }) }}
        {{ form_label(form.phoneNumber) }}
        {{ form_errors(form.phoneNumber) }}
    </div>

    <div class="field-holder">
        {{ form_widget(form.skypeName, { 'id': "employee-skype-name" }) }}
        {{ form_label(form.skypeName) }}
        {{ form_errors(form.skypeName) }}
    </div>

    <div class="separator-holder">
        <h2>Изменение пароля</h2>
    </div>

    {% if form.password is defined %}
        <div class="field-holder">
            {{ form_widget(form.password.password, { 'id': "employee-password" }) }}
            {{ form_label(form.password.password) }}
            {{ form_errors(form.password.password) }}
        </div>
        <div class="field-holder">
            {{ form_widget(form.password.password_confirm, { 'id': "employee-password-confirm" }) }}
            {{ form_label(form.password.password_confirm) }}
            {{ form_errors(form.password.password_confirm) }}
        </div>
    {% endif %}

    {{ form_widget(form._token) }}
</form>
