{# src/AppBundle/Resources/views/Entity/BankingMachine/Base/item.html.twig #}
{% extends 'AppBundle:Entity/BankingMachine:layout.html.twig' %}

{% block action_top %}
    <div class="inner categories-list-holder">
        <ul>
            <li {% block active_banking_machine_update %}{% endblock %}>
                <a href="{{ path('banking_machine_update', { 'id': bankingMachine.id }) }}">Данные</a>
            </li>
            <li {% block active_banking_machine_update_bounded_operator %}{% endblock %}>
                <a href="{{ path('banking_machine_update_bounded', { 'objectId': bankingMachine.id, 'objectClass': 'operator' }) }}">
                    {{ 'operator_read'|trans({}, 'routes') }}
                </a>
            </li>
            <li {% block active_banking_machine_update_bounded_account_group %}{% endblock %}>
                <a href="{{ path('banking_machine_update_bounded', { 'objectId': bankingMachine.id, 'objectClass': 'accountgroup' }) }}">
                    {{ 'account_group_read'|trans({}, 'routes') }}
                </a>
            </li>
            <li {% block active_banking_machine_update_bounded_banking_machine_sync %}{% endblock %}>
                <a href="{{ path('banking_machine_update_bounded', { 'objectId': bankingMachine.id, 'objectClass': 'bankingmachinesync' }) }}">
                    {{ 'banking_machine_sync_read'|trans({}, 'routes') }}
                </a>
            </li>
            <li {% block active_banking_machine_update_bounded_banking_machine_event %}{% endblock %}>
                <a href="{{ path('banking_machine_update_bounded', { 'objectId': bankingMachine.id, 'objectClass': 'bankingmachineevent' }) }}">
                    {{ 'banking_machine_event_read'|trans({}, 'routes') }}
                </a>
            </li>
        </ul>
    </div>
{% endblock %}
