{# src/AppBundle/Resources/views/Entity/Organization/Base/item.html.twig #}
{% extends 'AppBundle:Entity/Organization:layout.html.twig' %}

{% block action_top %}
    <div class="inner categories-list-holder">
        <ul>
            <li {% block active_organization_update %}{% endblock %}>
                <a href="{{ path('organization_update', { 'id': organization.id }) }}">Данные</a>
            </li>
            <li {% block active_organization_update_bounded_operator %}{% endblock %}>
                <a href="{{ path('organization_update_bounded', { 'objectId': organization.id, 'objectClass': 'operator' }) }}">
                    {{ 'operator_read'|trans({}, 'routes') }}
                </a>
            </li>
            <li {% block active_organization_update_bounded_banking_machine %}{% endblock %}>
                <a href="{{ path('organization_update_bounded', { 'objectId': organization.id, 'objectClass': 'bankingmachine' }) }}">
                    {{ 'banking_machine_read'|trans({}, 'routes') }}
                </a>
            </li>
        </ul>
    </div>
{% endblock %}
