{# AppBundle/Resources/views/Dashboard/Common/entities.html.twig #}
<nav id="menu-holder">
    <ul>

        {% if employee_boundless_access.isGranted(constant('AppBundle\\Service\\Security\\EmployeeBoundlessAccess::EMPLOYEE_READ')) %}
            <li {{ ( 'EmployeeController' in controller ) ? 'class="active"' : null }} title="{{ 'employee_read'|trans({}, 'routes') }}">
                <a href="{{ path('employee_read') }}" data-count="{{ quantities.employees }}">
                    <span class="icon hrd-staff"></span>
                    <span class="text">{{ 'employee_read'|trans({}, 'routes') }}</span>
                </a>
            </li>
            <li class="sprtr-h"></li>
        {% endif %}

        <li {{ ( 'OrganizationController' in controller ) ? 'class="active"' : null }} title="{{ 'organization_read'|trans({}, 'routes') }}">
            <a href="{{ path('organization_read') }}" data-count="{{ quantities.organizations }}">
                <span class="icon hrd-city"></span>
                <span class="text">{{ 'organization_read'|trans({}, 'routes') }}</span>
            </a>
        </li>
        <li {{ ( 'BankingMachineController' in controller ) ? 'class="active"' : null }} title="{{ 'banking_machine_read'|trans({}, 'routes') }}">
            <a href="{{ path('banking_machine_read') }}" data-count="{{ quantities.bankingMachines }}">
                <span class="icon hrd-table"></span>
                <span class="text">{{ 'banking_machine_read'|trans({}, 'routes') }}</span>
            </a>
        </li>
        <li class="sprtr-h"></li>
        <li {{ ( 'OperatorController' in controller ) ? 'class="active"' : null }} title="{{ 'operator_read'|trans({}, 'routes') }}">
            <a href="{{ path('operator_read') }}" data-count="{{ quantities.operators }}">
                <span class="icon hrd-user"></span>
                <span class="text">{{ 'operator_read'|trans({}, 'routes') }}</span>
            </a>
        </li>
        <li {{ ( 'NfcTagController' in controller ) ? 'class="active"' : null }} title="{{ 'nfc_tag_read'|trans({}, 'routes') }}">
            <a href="{{ path('nfc_tag_read') }}" data-count="{{ quantities.nfcTags }}">
                <span class="icon hrd-nfc"></span>
                <span class="text">{{ 'nfc_tag_read'|trans({}, 'routes') }}</span>
            </a>
        </li>
        <li class="sprtr-h"></li>
    </ul>
</nav>
