{# src/AppBundle/Resources/views/Entity/Operator/CRUD/readItem.html.twig #}
{% extends 'AppBundle:Entity/Operator/Base:item.html.twig' %}

{% block active_operator_update %}{{ 'class="active"' }}{% endblock %}

{% block data %}
    <div id="read-data-holder">
        <ul>
            <div class="separator-holder">
                <h2>Системные данные</h2>
            </div>

            <li>
                <div class="item key">
                    <span>{{ 'operator.operator_group.label'|trans({}, 'forms') }}</span>
                </div>
                <div class="item value">
                    <p>{{ operator.operatorGroup.name }}</p>
                </div>
            </li>
            <li>
                <div class="item key">
                    <span>{{ 'operator.organization.label'|trans({}, 'forms') }}</span>
                </div>
                <div class="item value btn-holder">
                    {% if operator.organization %}
                        <p>{{ operator.organization.name }}</p>

                        {% if is_granted(constant('AppBundle\\Security\\Authorization\\Voter\\OrganizationVoter::ORGANIZATION_READ'), operator.organization) %}
                            <div class="btn-view padded">
                                <a href="{{ path('organization_update', { 'id': operator.organization.id }) }}" class="icon hrd-view"></a>
                            </div>
                        {% endif %}

                    {% else %}
                        <p>-</p>
                    {% endif %}
                </div>
            </li>
            <li>
                <div class="item key">
                    <span>{{ 'operator.is_enabled.label'|trans({}, 'forms') }}</span>
                </div>
                <div class="item value">
                    <p>
                        {{ ( operator.isEnabled ) ? 'Да' : 'Нет' }}
                    </p>
                </div>
            </li>

            <div class="separator-holder">
                <h2>Личные данные</h2>
            </div>

            <li>
                <div class="item key">
                    <span>{{ 'operator.surname.label'|trans({}, 'forms') }}</span>
                </div>
                <div class="item value">
                    <p>{{ operator.surname }}</p>
                </div>
            </li>
            <li>
                <div class="item key">
                    <span>{{ 'operator.name.label'|trans({}, 'forms') }}</span>
                </div>
                <div class="item value">
                    <p>{{ operator.name }}</p>
                </div>
            </li>
            <li>
                <div class="item key">
                    <span>{{ 'operator.patronymic.label'|trans({}, 'forms') }}</span>
                </div>
                <div class="item value">
                    <p>{{ operator.patronymic }}</p>
                </div>
            </li>
            <li>
                <div class="item key">
                    <span>{{ 'operator.phone_number.label'|trans({}, 'forms') }}</span>
                </div>
                <div class="item value">
                    <p>{{ ( operator.phoneNumber ) ?: '-' }}</p>
                </div>
            </li>

        </ul>
    </div>

    {% if operator.bankingMachines|length %}
        <div class="separator-holder">
            <h2>Автосейфы оператора</h2>
        </div>

        {% include 'AppBundle:Entity/BankingMachine/Binding:ancestors.html.twig' with { 'sibling': operator } only %}
    {% endif %}

    {% if operator.accountGroups|length %}
        <div class="separator-holder">
            <h2>Группы счетов оператора</h2>
        </div>

        {% include 'AppBundle:Entity/AccountGroup/Binding:ancestors.html.twig' with { 'sibling': operator } only %}
    {% endif %}

{% endblock %}
