{# src/AppBundle/Resources/views/Entity/Operator/Form/form.html.twig #}
{% form_theme form 'AppBundle:Dashboard/Form/Theme:form.html.twig' %}

<form action="{{ form.vars.action }}" method="POST" id="operator-form">

    <div class="separator-holder">
        <h2>Личные данные</h2>
    </div>

    <div class="field-holder">
        {{ form_widget(form.surname, { 'id': "operator-surname" }) }}
        {{ form_label(form.surname) }}
        {{ form_errors(form.surname) }}
    </div>

    <div class="field-holder">
        {{ form_widget(form.name, { 'id': "operator-name" }) }}
        {{ form_label(form.name) }}
        {{ form_errors(form.name) }}
    </div>

    <div class="field-holder">
        {{ form_widget(form.patronymic, { 'id': "student-patronymic" }) }}
        {{ form_label(form.patronymic) }}
        {{ form_errors(form.patronymic) }}
    </div>

    {% do form.organization.setRendered %}

    {% set organization_set = ( form.organization.vars.data ) ? true : false %}

    <div class="select-holder {{ ( organization_set ) ? 'watch-parent' : null }}">
        <div class="btn-select">
            <a href="#">
                <div class="title-holder">
                    <span class="title">{{ form.organization.vars.label|trans({}, 'forms') }} <span class="required-field">*</span></span>
                    <span class="icon hrd-list"></span>
                </div>
                <span class="text">{{ ( form.organization.vars.data ) ? form.organization.vars.data.name : form.organization.vars.placeholder|trans({}, 'forms') }}</span>
            </a>
        </div>

        {% if organization_set %}
            <div class="btn-view">
                <a href="{{ path('organization_update', { 'id': form.organization.vars.data.id }) }}" class="icon hrd-view"></a>
            </div>
        {% endif %}

        {% for error in form.organization.vars.errors %}
            <span class="error-holder">{{ error.message }}</span>
        {% endfor %}

        <div class="select-list">
            <div class="outer">
                <div class="inner">
                    <ul>
                        <li class="option-item {{ ( form.organization.vars.data is null ) ? 'active' : null }}" data-option="{{ null }}">
                            <span class="option-name">{{ 'common.choice.empty_value'|trans({}, 'forms') }}</span>
                        </li>
                        {% for organization in form.organization.vars.choices %}
                            <li class="option-item {{ ( form.organization.vars.data ) ? ( form.organization.vars.data.id != organization.value ) ?: 'active' : null }}" data-option="{{ organization.value }}">
                                <span class="option-name">{{ organization.label }}</span>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <input type="hidden" name="{{ form.organization.vars.full_name }}" value="{{ ( form.organization.vars.data ) ? form.organization.vars.data.id : null }}">
    </div>

    {{ form_widget(form._token) }}
</form>
