{# src/AppBundle/Resources/views/Entity/BankingMachine/Form/form.html.twig #}
{% form_theme form 'AppBundle:Dashboard/Form/Theme:form.html.twig' %}

<form action="{{ form.vars.action }}" method="POST" id="banking-machine-form">

    <div class="separator-holder">
        <h2>Параметры</h2>
    </div>

    <div class="field-holder">
        {{ form_widget(form.serial, { 'id': "banking-machine-serial" }) }}
        {{ form_label(form.serial) }}
        {{ form_errors(form.serial) }}
    </div>

    {% do form.organization.setRendered %}

    {% set organization_set = ( form.organization.vars.data ) ? true : false %}

    <div class="select-holder {{ ( organization_set ) ? 'watch-parent' : null }}">
        <div class="btn-select">
            <a href="#">
                <div class="title-holder">
                    <span class="title">{{ form.organization.vars.label|trans({}, 'forms') }}</span>
                    <span class="icon hrd-list"></span>
                </div>
                <span class="text">{{ ( form.organization.vars.data ) ? form.organization.vars.data.name : form.organization.vars.placeholder|trans({}, 'forms') }}</span>
            </a>
        </div>

        {% if organization_set %}
            <div class="btn-view">
                <a href="{{ path('organization_update', { 'id': form.organization.vars.data.id }) }}" class="icon hrd-view"></a>
            </div>
        {% endif %}

        {% for error in form.organization.vars.errors %}
            <span class="error-holder">{{ error.message }}</span>
        {% endfor %}

        <div class="select-list">
            <div class="outer">
                <div class="inner">
                    <ul>
                        <li class="option-item {{ ( form.organization.vars.data is null ) ? 'active' : null }}" data-option="{{ null }}">
                            <span class="option-name">{{ 'common.choice.empty_value'|trans({}, 'forms') }}</span>
                        </li>
                        {% for organization in form.organization.vars.choices %}
                            <li class="option-item {{ ( form.organization.vars.data ) ? ( form.organization.vars.data.id != organization.value ) ?: 'active' : null }}" data-option="{{ organization.value }}">
                                <span class="option-name">{{ organization.label }}</span>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <input type="hidden" name="{{ form.organization.vars.full_name }}" value="{{ ( form.organization.vars.data ) ? form.organization.vars.data.id : null }}">
    </div>

    <div class="field-holder">
        {{ form_widget(form.name, { 'id': "banking-machine-name" }) }}
        {{ form_label(form.name) }}
        {{ form_errors(form.name) }}
    </div>

    <div class="field-holder">
        {{ form_widget(form.address, { 'id': "banking-machine-address" }) }}
        {{ form_label(form.address) }}
        {{ form_errors(form.address) }}
    </div>

    <div class="separator-holder">
        <h2>Учетные данные для API</h2>
    </div>

    <div class="field-holder">
        {{ form_widget(form.login, { 'id': "banking-machine-login" }) }}
        {{ form_label(form.login) }}
        {{ form_errors(form.login) }}
    </div>

    <div class="field-holder">
        {%
            set placeholder = ( bankingMachine is defined )
                ? (( bankingMachine.password ) ? 'banking_machine.password.placeholder.filled'|trans({}, 'forms') : 'banking_machine.password.placeholder.empty'|trans({}, 'forms'))
                : 'banking_machine.password.placeholder.empty'|trans({}, 'forms')
        %}

        {{ form_widget(form.password, { 'id': "banking-machine-password", 'attr': { 'placeholder': placeholder, 'value': null } }) }}
        {{ form_label(form.password) }}
        {{ form_errors(form.password) }}
    </div>

    {{ form_widget(form._token) }}
</form>
