{# src/AppBundle/Resources/views/Entity/Transaction/Table/tr.html.twig #}
<td class="small-fixed"><span>{{ transaction.id }}</span></td>
<td>
    <span>
        {{ transaction.transactionAt|date('Y-m-d H:i:s') }}
    </span>
</td>
<td>
    <span>
        {{ transaction.typeIdString|trans({}, 'routes') }}
    </span>
</td>
<td>
    <span>
        {{ ( transaction.transactionFrozen ) ? transaction.transactionFrozen.organizationName : '-' }}
    </span>
</td>
<td>
    <span>
        {{ ( transaction.transactionFrozen ) ? transaction.transactionFrozen.bankingMachineSerial : '-' }}
    </span>
</td>
<td>
    <span>
        {{ ( transaction.transactionFrozen ) ? transaction.transactionFrozen.operatorFullName : '-' }}
    </span>
</td>
<td>
    <span>
        {{ ( transaction.transactionFrozen ) ? transaction.transactionFrozen.nfcTagNumber : '-' }}
    </span>
</td>
<td>
    <span>
        {{ ( transaction.transactionFrozen ) ? ( transaction.transactionFrozen.accountGroupName ) ?: '-' : '-' }}
    </span>
</td>
<td>
    <span>
        {{ transaction.transactionFunds|number_format(2, ',') }}
    </span>
</td>
<td>
    <span>
        {{ transaction.transactionBanknotesQuantity }}
    </span>
</td>
