{# src/AppBundle/Resources/views/Entity/Transaction/Base/list.html.twig #}
{% extends 'AppBundle:Entity/Transaction:layout.html.twig' %}

{% block action_top %}
    <div class="inner categories-list-holder">
        <ul>
            <li {% block active_transaction_read %}{% endblock %}>
                <a href="{{ path('transaction_read') }}">
                    {{ 'transaction_read'|trans({}, 'routes') }}
                </a>
            </li>
        </ul>
        <ul>
            <li {% block active_replenishment_read %}{% endblock %}>
                <a href="{{ path('replenishment_read') }}">
                    {{ 'replenishment_read'|trans({}, 'routes') }}
                </a>
            </li>
        </ul>
        <ul>
            <li {% block active_collection_read %}{% endblock %}>
                <a href="{{ path('collection_read') }}">
                    {{ 'collection_read'|trans({}, 'routes') }}
                </a>
            </li>
        </ul>
    </div>
{% endblock %}
